@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(45, 47, 49, 0.651);
}